::selection {
    background-color: white;
    color: black;
}

header {
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 5px;
    margin: 0 20px;
    padding: 25px;
    text-align: center;
    font-family: Verdana;
    font-size: 250%;
}

header:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    margin: 10px 20px;
}

.category {
    padding: 20px 30px;
    color: white;
    font-family: Verdana;
}

.category:hover {
    cursor: pointer;
    background-color: rgb(100, 100, 100);
    transition-duration: 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: pink;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell {
    width: 250px;
    border: 5px solid rgb(34, 34, 34);
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}

.product-image {
    border-radius: 5px 5px 0 0;
}

.product-image:hover {
    cursor: pointer;
}

.product-details {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Verdana;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.product-name {
    margin: 0 0 5px;
}

.product-price {
    margin: 10px 0 5px;
}
